<!DOCTYPE html>
<html>
<head>
  <title>Pushkin</title>
  <%= stylesheet_link_tag    "pushkin/application", media: "all" %>
  <%= javascript_include_tag "pushkin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
